In [1]:
#Importing The Libraries
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split  
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
#Importing The DataSet
data=pd.read_csv("play_tennis.csv")

In [3]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
print(data.describe())
print(data.isnull().sum())

       day outlook  temp humidity  wind play
count   14      14    14       14    14   14
unique  14       3     3        2     2    2
top     D1   Sunny  Mild     High  Weak  Yes
freq     1       5     6        7     8    9
day         0
outlook     0
temp        0
humidity    0
wind        0
play        0
dtype: int64

In [6]:
#Label Encoding
number = LabelEncoder()
data['day'] = number.fit_transform(data['day'])  
data['outlook'] = number.fit_transform(data['outlook'])  
data['temp'] = number.fit_transform(data['temp'])
data['humidity'] = number.fit_transform(data['humidity']) 
data['wind'] = number.fit_transform(data['wind'])
data['play'] = number.fit_transform(data['play'])

In [7]:
data.head()

   day  outlook  temp  humidity  wind  play
0    0        2     1         0     1     0
1    6        2     1         0     0     0
2    7        0     1         0     1     1
3    8        1     2         0     1     1
4    9        1     0         1     1     1

In [8]:
#Feature and Target Variable Selection
features=["outlook","temp","humidity","wind"]
target="play"

In [9]:
#Splitting the Data Set
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [10]:
X

    day  outlook  temp  humidity  wind
0     0        2     1         0     1
1     6        2     1         0     0
2     7        0     1         0     1
3     8        1     2         0     1
4     9        1     0         1     1
5    10        1     0         1     0
6    11        0     0         1     0
7    12        2     2         0     1
8    13        2     0         1     1
9     1        1     2         1     1
10    2        2     2         1     0
11    3        0     2         0     0
12    4        0     1         1     1
13    5        1     2         0     0

In [11]:
#Splitting the Data into Training and Test Data
features_train, features_test, target_train, target_test= train_test_split(X, y, test_size=0.33, random_state=54)

In [12]:
#Model For Gaussian Naive Bayes
model = GaussianNB()
model.fit(features_train, target_train)

GaussianNB()

In [13]:
print(target_test)

4     1
12    1
9     1
3     1
13    0
Name: play, dtype: int32

In [14]:
model = GaussianNB()
model.fit(features_train, target_train)
GaussianNB(priors=None, var_smoothing=1e-09)

GaussianNB()

In [15]:
print(model.get_params())

{'priors': None, 'var_smoothing': 1e-09}

pred = model.predict(features_test)  
accuracy = accuracy_score(target_test, pred)  
print (accuracy)

{'priors': None, 'var_smoothing': 1e-09}
0.8

In [16]:
model.predict_proba(features_test)

array([[1.29083228e-01, 8.70916772e-01],
       [4.01972399e-04, 9.99598028e-01],
       [1.51521406e-01, 8.48478594e-01],
       [4.60655571e-01, 5.39344429e-01],
       [3.69898469e-01, 6.30101531e-01]])

In [17]:
print(model.predict([[6,2,1,0,0]]))

[0]

In [18]:
print(model.predict([[1,1,2,1,1]]))

[1]